<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771073635336-s6nebgetsdf6sfob1gq2kdgm506dqflr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771073635336-s6nebgetsdf6sfob1gq2kdgm506dqflr</string>
	<key>API_KEY</key>
	<string>AIzaSyCTckh57RqFByaG0zKElgEi4oTQlXEZEOs</string>
	<key>GCM_SENDER_ID</key>
	<string>771073635336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.nowclass</string>
	<key>PROJECT_ID</key>
	<string>now-class</string>
	<key>STORAGE_BUCKET</key>
	<string>now-class.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771073635336:ios:cc50c6cc11f5116e994dbd</string>
	<key>DATABASE_URL</key>
	<string>https://now-class-default-rtdb.firebaseio.com</string>
</dict>
</plist>